*{                                              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #fffc00;
    font-family: "Graphik",Helvetica,sans-serif;
}

.container{                             /* main div */
    
    background: #fffc00;;
    height: 72px;
    width: 100%;
    position: fixed;
    margin-top: -100px;
    z-index: 1;
}

.snap_logo{                             /*Snapchat logo*/
    position: absolute;
    width: 50px;
    height: 27px;
    padding-top: 20px;
    padding-left: 25px;
}

.search_bar{                            /*search bar*/
    border-radius: 10px;
    height: 30px;
    width: 150px;
    margin-left: 70px;
    margin-top: 20px;
    border: transparent;
}

.middle_nav{
    margin-left: 220px;  
}

.imgIcons{                              /*navigation icons*/
    z-index: 1;
    position: absolute;
    margin-left: 320px;
    margin-top: -35px;
    padding-left: 10px;
    width: 25px;
    height: 25px; 
    display: flex;
}

.img-play{                              /*navigation spotlight icon*/
    margin-left: 60px;
}

.img-chat{                              /*navigation chat icon*/
    margin-left: 52px;
}

.img-lenses{                            /*navigation lenses icon*/
   margin-left: 50px;
}

.img-map{                               /*navigation map icon*/
    margin-left: 50px;
}

.iconNames{                             /*navigation icon name*/
    margin-top: -5px;
    margin-left: 300px;
    position: absolute;
}

.iconNames a{                           /*navigation icon name anchor tab*/
    text-decoration: none;
    color: black;
    font-size: x-small;
    letter-spacing: 0.5px;   
    font-weight: bold;
    padding: 20px;
}

.iconNames a:hover{
    background-color: #edea15;
    border-radius: 15px;
    width: 50px;
}


.right_nav{                             /*navigation right buttons div common*/                       
    position: absolute;
    margin-left: 1200px;
    margin-top: -35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
}


.menuButton{                            /*navigation right button menu*/
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    margin-left:10px ;
    background: url(images/menubar.png);
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

.menuButton:hover{
    background: rgb(229, 229, 229);
}

button{                                 /* button common */
    background: black;
    height: 32px;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}

.ads{                                   /*right button ad*/
    width: 120px;
    margin-left: 70px;    
    margin-top: 8px;
}

.ads:hover{
    background: rgb(83, 80, 80);
}

.download{                              /*right button download*/
    width: 100px;
    margin-left: 200px;    
    margin-top: 8px;
}

.download:hover{
    background: rgb(83, 80, 80);
}

.content{                               /*body content common*/
    height: 500px;
    margin-top: 100px;
    color: black;
    font-style: normal;
    margin-left: 180px; 
}

h1{                                     /*body content heading1*/
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 60px;
    position:absolute;
    margin-top: 55px; 
}


h2{                                     /*body content heading2*/
    font-size: 24px;  
    position: absolute;
    margin-top: 280px; 
    font-weight:bold;
}

h3{                                     /*body content heading3*/
    font-size: 24px;
    position: absolute;
    margin-top: 360px;
    font-weight: bold;
}

h6{                                     /*body content for 'or'*/
    position: absolute;
    margin-top: 440px;
    margin-left: 205px;
}

.login{
    margin-top: 430px;
    width: 175px;
}  

.login:hover{
    background: rgb(83, 80, 80);
}

.getfrom{
    position: absolute;
    margin-top: 430px;
    margin-left: 250px;
    width: 100px;
    border-radius: 5px;
    height: 35px;
}

.getfrom:hover{
    background: rgb(83, 80, 80);
}

.get1{
    font-size: x-small;
}

.get2{
    font-size: small;
}

.chatbotimg{
   position: absolute;
   z-index: -1;
}

.bot{
    width: 700px;
    height: 660px;
    margin-top: -570px;
    margin-left: 620px;
}

.footer{
    width: 100%;
    height: 250px;
    margin-top: 110px;
    background-color: white;
    position: absolute;
    font-size: 14.5px;
    font-weight: lighter;
    line-height: 11px;
    font-family: "Avenir Next",Helvetica,sans-serif ;
}

ul li{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.list1{
    margin-left: 220px;
    margin-top: 35px;
}

.company {
    cursor: none;
}

.list2{
    margin-top: -140px;
    margin-left: 480px;
}

.community{
    cursor: none;
}

.list3{
    margin-top: -73px;
    margin-left: 750px;
}

.advertise{
    cursor: none;
}

.list4{
    margin-top: -122px;
    margin-left: 1050px;
}

.legal{
    cursor: none;
}

.langSearch2{
    width: 165px;
    margin-left: 220px;
    height: 25px;
    border-radius: 3px;
    border-width: 1px;
    margin-top: -30px;
}

.footer2{
    width: 100%;
    height: 55px;
    background-color: #2a2923;
    margin-top: 360px;
    position: absolute;
}

.footer2 a{
    color: white;
    font-size: 15px;
    padding-left: 80px;
}

.list5{
    margin-top: 23px;
    display: flex;
    margin-left: 140px;
}

.fixfooter h4{
    margin-top: 415px;
    background-color: black;
    width: 100%;
    height: 58px;
    color: white;
    text-align: center;
    padding-top: 19px;
    font-size: 14.5px;
    font-weight: lighter;

}

.fixfoot {
    color: yellow;
    margin-left: 13px; 
}

/* .fixfooter{
position: fixed;
} */


